#sketchbar_headbar {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    width: 100%;
    border-bottom: 1px solid gray;
    /* padding: 5px; */
    background: rgb(59, 59, 59);
    color: lightgray;
}

.texthead_div {
    width: 50%;
}


.texthead_div {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.spinnerhead_div {
    width: 25%;
}


.btnhead_div {
    display: flex;
    justify-content: flex-end;
    /* width: 25%; */
    align-items: center;
}

.skheaderdiv {
    display: flex;
    width: 50%;
    padding: 5px;
    border-right: 1px solid lightgray;
    font-size: 0.9em;
}

.reg_head_div {
    /* width: 100%; */
}

.headbarbtns {
    display: flex;
    width: 30px;
    height: 30px;
}

.subtext_head_div {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}


.sortbuttondiv{
    color: white;
    display: flex;
    justify-content: center;
    width: 120px;
}

.sortdropdown{
    font-size: 1.2em;
}
.sortdivwrap{
    /* display: flex; */
    /* width: 50px; */
}

/* head bar styling ends here ===== > */



/* spinner styling adds here */
.spinnerwrap {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    opacity: 0.4;
    background: lightgray;
    padding: 5px;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.spinnerwrap_mini {
    flex-direction: column;
    display: flex;
    width: 35px;
    height: 35px;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* opacity: 0.4; */
    /* padding: 2px; */
}

.spinnertext {
    font-size: 2em;
}

#spinnerwidget {
    display: flex;
    width: 100%;
    /*height: 100%;*/
    /* margin: 20px; */
    align-items: center;
    justify-content: center;
}


/* workflow selector tab panel style here begins */
/* https: //css-tricks.com/almanac/properties/b/box-shadow/ */
.initdialog {
    display: flex;
    position: absolute;
    z-index: 10;
    background: lightgray;
    border: 1px solid darkgray;
    padding: 10px;
    width: 500px;
    height: 100px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
}

.btnWorkflow {
    display: flex;
    width: 300px;
    margin: 10px;
    background: rgb(166, 108, 212);
    justify-content: center;
    color: white;
    font-size: 1.1em;
}

.btnWorkflow_sec {
    background: rgb(40, 91, 230);
}


.featvis_btndiv {}

/* .btnWorkflow_sec:hover {
    background: rgb(80, 91, 230);
}

.btnWorkflow_sec:active {
    background: rgb(80, 91, 230);
}



.btnWorkflow:hover{
    background: rgb(200, 108, 212);
}

.btnWorkflow:active {
    background: rgb(200, 108, 212);
} */



/* control input on head bar styling +++++++++++++++++++++++  */
.controlinput {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
    /* padding-right: 5px; */
}

#controlbtnheaderId {
    height: 20px;
    background: lightgray;
    color: rgb(88, 84, 84);
    /* padding-right: 50px; */
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    font-size: 1.1em;
}

#dropdowndivId {
    /* display: flex; */
    width: 675px;
    height: 900px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background: lightgray; */
    /* top: 100px; */
    /* background: rgba(255, 255, 255, 0.9); */

}


.controlinpWrap {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    flex-direction: column;
    /* background: lightgreen; */
    border-bottom: 1px solid gray;
}

.content_formwrap {
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
    /* height: 50%; */
    height: auto;
    width: 100%;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.forminpheader {
    display: flex;
    align-items: center;

}

.forminpcontent {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    overflow-y: auto;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
}

.formsub_header {
    color: black;
    font-size: 1.2em;
    background: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 20px;
}

#forminp_featwts {
    height: 450px;
}

.inprowcontent {
    display: flex;
    padding: 5px;
    border-bottom: 1px dashed gray;
    /* margin: 5px; */
    /* height: 50px; */
    align-items: center;
}

.ionitem_rangewrap {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

.texthead_ionchip {
    width: 200px;
}